.secondsection {
    position: relative;
    display: block;
    max-width: 1770px;
    width: 100%;
    max-height: 1020px;
    height: 100%;
    
   }

   .secondsection-bg {
    max-width: 1770px;
    width: 100%;
    max-height: 685px;
    height: 100%;
    background-image: url(../Images/castle.png);
}

    .secondsection-bot {
        bottom: 0px;
        position: absolute;
        background: #333333;
        max-height: 337px;
        height: 100%;
        max-width: 1770px;
        width: 100%;
    }
